* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.fonts {
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 600;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
}

.Logo {
  max-width: 48px;
}

ul {
  display: flex;
  gap: 48px;
  font-family: "poppins";
  font-weight: 400;
  font-size: 14px;
}

li {
  padding-bottom: 8px;
}

li:hover {
  border-bottom: 2px solid #29b24e;
}

.Header-button {
  background-color: #29b24e;
  color: #ffffff;
  width: 156px;
  height: 47px;
  border: none;
  border-radius: 12px;
  font-family: "poppins";
}
